@import url('navbar.css');

* {
    font-family: "Poppins", sans-serif;
}

.dashbrd {
    margin-top: 30px;
}

.mbOnly {
    display: none;
}

:root {
    --bg-blue-1: #D02A2A;
    --bg-blue-2: #f7f7f7;
    --bg-blue-3: #dc3545;
    --margin-top: 100px;
}

.navbar {
    background-color: #181818;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    padding-top: 5px;
}


.navbar a {
    color:#f7f7f7; 
    text-decoration: none;
    font-weight: 300;
}

.navbar a:hover {
    color:#D02A2A;
    
}


.navbar a {
    text-decoration: none; 
}

.meu-botao {
    margin-left: auto;
}

.meu-botao button {
    color: #f7f7f7;
    font-weight: 300;
}

.navbar button {
    color:#f7f7f7;
    font-weight: 300;
}

.navbar img {
    height: 50px;
}

.away {
    padding-left: 100px;
}

@media only screen and (max-width: 600px) {

    #openDatePicker {
        margin-left: 100px;
    }

    .img-fluid {
        display: none;
    }

    .dashbrd {
        display: none;
    }

    .mbOnly {
        margin-top: 178px;
        margin-left: 70px;
        display: block;
    }

    .nav-link {
        margin-left: 100px;
    }

    .nav-item {
        padding-left: 0;
    }

  }





