@import url('reset.css');

body {
    height: 100vh;
    background-image: url(../img/bgmenu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {

    body {
        background-repeat: repeat;
    }

    .start {
        margin-top: 600px;
    }

    .foot {
        margin-bottom: 24px;
    }
}