@import url('navbar.css');
@import url('reset.css');
@import url('logo.css');

body {
  overflow-x: hidden;
  background-image: url(../assets/img/ifood-bg-trans\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  margin-left: 70px;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

header {
  padding: 30px 0;
  padding-left: 15px;
  background-color: black;
  color: white;
  
}

.saldo-atual {
  background-color: #181818; /* Cor verde */
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  height: 90px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.saldo-atual p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.saldo-atual span {
  font-size: 22px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}


.operationBar ul li {
  background-color: #181818; 
  border-radius:100px; 
  color: #ffffff;
  margin-top: 30px;
}

.table-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 5px; /* Canto levemente arredondado */
}

.table-container {
    width: 500px;
    max-height: 400px;
    overflow-y: auto;
    position: relative;

  }

  tfoot {
    font-weight: bold;
    position: sticky;
    bottom: 0;
    z-index: 1;
  }

  @media (max-width: 768px) {

    .row {
      width: 100%;
    }  

    .container {
      display: block;
    }

    .container button {
      margin-bottom: 5px;
    }

    .operationBar ul li {
      margin-top: 100px; 
    }
  
    .table-container {
        margin-left: 15px;
        height: 300px;
        width: 100%;
    }

    table {
        font-size: 10px; /* Reduz o tamanho da fonte */
      }
      th, td {
        padding: 0.3rem; /* Reduz o espaçamento entre células */
      }

      #bottom {
        margin-bottom: 50px;
      }
  }

